// Grayscale
$white: #fff;
$background: #f7f7f7;
$light-gray: #e0e0e0;
$gray: #666;
$medium-gray: #4c4c4c;
$dark-gray: #212121;

:root {
  // Pokémon Type
  --poke-type-bug: #a7b723;
  --poke-type-dark: #75574c;
  --poke-type-dragon: #7037ff;
  --poke-type-electric: #f9cf30;
  --poke-type-fairy: #e69eac;
  --poke-type-fighting: #c12239;
  --poke-type-fire: #f57d31;
  --poke-type-flying: #a891ec;
  --poke-type-ghost: #70559b;
  --poke-type-grass: #74cb48;
  --poke-type-ground: #dec16b;
  --poke-type-ice: #9ad6df;
  --poke-type-normal: #aaa67f;
  --poke-type-poison: #a43e9e;
  --poke-type-psychic: #fb5584;
  --poke-type-rock: #b69e31;
  --poke-type-steel: #b7b9d0;
  --poke-type-water: #6493eb;
}
